*{
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
}
.header_container{
    margin: 0 50px;
    height: 380px;
    background: linear-gradient(0deg, rgba(2, 57, 87, 0.5), rgba(2, 57, 87, 0.5)), url("/img/header.png");

}
.header_content{
}
.header_content_up {
   display: flex;
  justify-content: space-between;
  margin: 0 57px;

}
.header_content_up  ul li {
    display: inline-flex;
    padding:  35px 20px;

}

.header_content_up ul  li  a{
   text-decoration: none;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: white;
    
}



.header_content_up ul  li  a:hover{
font-size:25px;
}
.header_content_up ul  li  a:active{
    color: rgb(255, 216, 118);
}



.header_content_up img{
    width: 100px;
    height: 40px;
    padding:  26px 50px;
} 

.header_content_down{
    padding: 94px 397px;
}

.header_content_down h1{
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: white;
}
.body_container{
    padding: 150px 70px 70px 70px;
}
.body_content{
    display: flex;
    justify-content: space-evenly;
  
}


.body_list{
width: 250px;
height: 245px;
padding:30px 119px 16px  30px  ;
background: #FFFFFF;
box-shadow: 0px 8px 30px rgba(2, 57, 87, 0.15);
}
.body_list h1 {
    padding-bottom:16px;
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 170%;
color: #056088;
}
.body_list p {
    padding-bottom: 6px;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 170%;
color: #434343;
}
.body_list ul li{
    list-style: none;
}
.body_list button{
    margin-top:32px;
    width:158px;
    height:60px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
color: #FFFFFF;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
}
.body_container_2{
    padding: 70px 70px;

}
.body_container_3{
    padding: 70px 70px;

}

.content{
    margin: 100px 662px;
    text-align: center;
    }
    .btn button{
        background: transparent;
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 170%;
        color: #056088;
    }
    .btn button:hover{
        background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
        width:170px ;
        height:60px ;
        border-radius: 35px;
        color: white;
    }
    .btn button:active{
        background: transparent;
        border: none;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 170%;
        color: #056088;
    }

    .footer_container{
        margin: 0 50px;
        height: 380px;
        background: #023957;
        color: white;
    }
    
    .footer_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 78px 180px;
    }
    .footer_icon ul li {
        padding:  10px  20px;
       list-style: none; 
    }
    
    .footer_icon img {
        width: 100px;
        height: 40px;
    }
    .footer_icon p {
        padding-top: 32px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }
    .footer_icon button{
        background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
        width:158px ;
        height:50px ;
        color: white;
        border: none;
    }
    .footer_icon button:active{
        transition: all ease-in 0.5;
        border: 2px solid black;
        color: black;
        background: white;
    }
    
    .footer_menu{
    
    }
    .footer_menu h2{
        padding-bottom: 32px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 170%;
        color: #FFFFFF;
    }
    .footer_menu ul li{
        padding: 5px 20px;
        list-style: none;
        
    }
    .footer_menu ul li a:hover{
        font-size:25px;
    }
    .footer_menu ul li a:active{
        color:rgb(255, 216, 118); ;
    }
    .footer_menu ul li a{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        text-decoration: none;
    }
    .text{
        display: flex;
        justify-content: center;
        margin: 39px 0;
    }
    .text h3{
        font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
    }
    
